<section>
    <h2>Informacje o projekcie</h2>
    <p>Aplikacja powstała w celu zaliczenia projektu na przedmiot Chmury Obliczeniowe. Projekt korzysta z grafowej bazy danych Neo4j Aura DB. W projekcie umożliwione jest zarządzanie podstawowymi encjami dla uczelni.</p>
</section>